.bar_left {
  width: 100px;
  height: 100vh;
  background-color: #373b53;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top_box {
  display: flex;
  flex-direction: column;
  background-color: #7c5dfa;
  position: relative;
  height: 103px;
  border-radius: 0 20px 20px 0;
}

.bottom_tier {
  background-color: #9277ff;
  height: 51px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border-radius: 20px 0 20px 0;
}

.logo {
  position: absolute;
  z-index: 99;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.bottom_box {
  height: 103px;
  position: relative;
  border-top: 1px solid #979797;
}

.profile_img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
